<div class="h-full bg-slate-50 shadow-lg rounded-lg p-5">

  <div *ngIf="!selectedOP">
    <div class="relative">
      <div class="absolute top-0 bottom-0 left-0 flex items-center px-5">
        @if(!cargandoBusqueda()){
        <svg xmlns="http://www.w3.org/2000/svg" class=" w-6 text-gray-600" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
        }@else{
        <div class=" flex items-center justify-center bg-white bg-opacity-75">
          <div class="h-8 w-8 loader"></div>
        </div>
        }
      </div>
      <p-autoComplete [(ngModel)]="valorQuery" styleClass="w-full" baseZIndex="9999" placeholder="Buscar OP" lazy="true"
        scrollHeight="500px" (onSelect)="onSelect($event)" delay="500"
        inputStyleClass="pl-16  py-4 rounded-md shadow-md bg-transparent border-0 w-full outline-none"
        [emptyMessage]="cargandoBusqueda()?'Buscando':'No se encontraron resultados'" field="op"
        [suggestions]="OPsBusqueda()" (completeMethod)="OnQueryChanged()">
        <ng-template let-op pTemplate="item">
          <div class="grid grid-cols-10 gap-1 justify-center items-center cursor-pointer  rounded-lg">
            <div class="col-start-1 col-end-12  m-0">
              <div class="flex flex-col md:flex-row items-center justify-between  ">
                <h4 class="text-gray-900 font-medium text-pretty">{{op.op}} </h4>
                <p class="text-gray-900 text-md"> {{op.componente}}</p>
              </div>
              <div class="flex flex-col md:flex-row  items-center justify-between ">
                <p class="text-gray-600 font-regular text-sm">{{op.descripcion}}</p>
                <h5>{{op.cantidad | number}} piezas</h5>
              </div>
            </div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>  
  </div>
  
  @if(selectedOP){
  <div class="flex flex-col sm:flex-row ">
    <div class="rounded-lg border bg-card   w-full  3xl:w-1/2   mx-auto shadow-sm   ">
      <div class="">
        <div class="w-full ">
          <div class="bg-white rounded-lg  relative pt-5">            
            <button (click)="closeDetail()" class="absolute -top-4 -right-2 rounded-full bg-gray-200 hover:bg-gray-700  hover:text-white">              
              <svg viewBox="0 0 24 24" class="w-9 h-9 " 
               xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 17L16.8995 7.10051" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M7 7.00001L16.8995 16.8995" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
            </button>
               
            <div class="grid grid-cols-2 sm:grid-cols-3 p-3    sm:text-center">
              <div class="flex justify-start items-center sm:justify-end flex-row space-x-10 ">
                <div class="p-3 bg-purple-200 rounded-full hidden portrait:hidden sm:block ">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-9 text-purple-600" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 0 1 0 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 0 1 0-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375Z" />
                  </svg>                
                </div>              
                <div class="text-gray-900  text-center text-4xl font-semibold sm:text-5xl  ">
                  {{ selectedOP!.op }}
                </div>            
              </div>
              
              <div class="flex flex-col text-center  w-full col-span-2 ">
                <div class="text-gray-600 text-xl font-extrabold  ">{{ selectedOP!.descripcion }}</div>
                <div class="text-gray-800 text-lg  ">{{ selectedOP!.componente }}</div>
              </div>
            </div>
         
            <!-- <div class="flex  flex-col  sm:flex-row  justify-around space-x-10  p-3  ">
              
              <div  class="mx-auto">
                <div class="p-3 bg-purple-200 rounded-full hidden sm:block ">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-9 text-purple-600" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 0 1 0 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 0 1 0-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375Z" />
                  </svg>                
                </div>              
              </div>
              
                <div class="text-gray-900  text-5xl font-semibold  ">
                  {{ selectedOP!.OP }}
                </div>            
              
              <div class="flex flex-col sm:items-start items-center w-full">
                <div class="text-gray-600 text-sm  md:text-lg  ">{{ selectedOP!.descripcion }}</div>
                <div class="text-gray-800 text-sm  ">{{ selectedOP!.componente }}</div>
              </div>
            </div> -->
    
            <div class="grid grid-cols-3 text-center bg-slate-100/40 rounded p-3 ">
              <div class="text-gray-800 text-xl ">Metrics </div>
              <div class="text-gray-800 text-lg ">Max a solicitar </div>
              <div class="text-gray-800 text-xl ">Surtido </div>
              <div class="text-gray-600  text-4xl font-semibold  ">{{ selectedOP!.cantidad  | number}}</div>
              <div class="text-gray-600  text-4xl font-semibold  ">
                @if((selectedOP!.cantidad - selectedOP!.cantidadSurtida)>0){
                  {{ (selectedOP!.cantidad - selectedOP!.cantidadSurtida) | number }}
                }@else{
                  0
                }
                
              </div>
              <div class="text-gray-600 text-4xl font-semibold">{{ selectedOP!.cantidadSurtida  | number}}</div>
            </div>        
          </div>
    
        </div>
        <form class="space-y-4 p-6" [formGroup]="solicitudForm">
          <div class="flex  flex-col  sm:flex-row gap-4 mb-6 ">
            <div class="grid basis-1/2 gap-2 h-16   "  [class.has-error]="tieneErrores('cantidad')  || !puedeCapturarCantidad()">              
                <label class="text-sm font-semibold leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="cantidad">
                Cantidad                                </label>                            
              <p-inputNumber styleClass="w-full"  
              formControlName="cantidad"
                inputStyleClass='form-control  px-3 py-2'                
                mode="decimal" [min]="0"  />
                @if(!puedeCapturarCantidad()){               
                  <label class="text-xxs font-extrabold leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">No se puede solicitar mas de lo registrado en metrics</label>
                  }
            </div>
            <div class="grid basis-1/2 gap-2  "  [class.has-error]="tieneErrores('id_maquina')">
              <label class="text-sm font-semibold leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 "
                for="maquina">
                Máquina
              </label>
              <p-dropdown [options]="maquinas()"
              formControlName="id_maquina"
                styleClass="form-select "
                optionLabel="descripcion"
                optionValue="id"
                 placeholder="Seleccione una máquina" />
            </div>
          </div>
          <div class="flex flex-col md:flex-row  gap-4">
            <div class="grid basis-1/2 gap-2"  [class.has-error]="tieneErrores('fecha_entrega')">
              <label class="text-sm font-semibold leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="cantidad">
                Fecha de entrega
              </label>
              <p-calendar 
              formControlName="fecha_entrega"
              styleClass="w-full"              
                inputStyleClass="form-control px-3 py-2" />                
            </div>

            <div class="grid basis-1/2 gap-2 h-16" [class.has-error]="tieneErrores('hora_entrega')">
              <label class="text-sm font-semibold leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="cantidad">
                Hora de entrega
              </label>
              <p-calendar styleClass="w-full" [timeOnly]="true"
              formControlName="hora_entrega"
              
                inputStyleClass="form-control px-3 py-2" />
                <label class="text-xxs font-extrabold leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">
                  Fecha de entrega no puede ser menor a  {{today() | date:'dd/MM/yyyy  HH:mm' }} horas
                </label>
                
            </div>
          </div>
          <div class="grid  gap-2">
            <label class="text-sm font-semibold leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              for="comentarios">
              Comentarios
            </label>
            <textarea
            formControlName="comentarios"
            name="comentarios"
              class="flex h-20 w-full rounded-md border border-input bg-background px-3 py-1  ring-offset-background  placeholder:text-muted-foreground 
          focus-visible:ring-indigo-600
          focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"></textarea>
          </div>        
          <div class="flex  justify-end">                        
            <button [disabled]="guardando()" class="bg-indigo-500 mt-5  text-white rounded-md px-12 py-2 disabled:bg-indigo-500/50" (click)="guardarSolicitud()">
              <i *ngIf="guardando()" class="fas fa-spinner fa-spin"></i>
              Guardar</button>
          </div>  
        </form>
      </div>
    </div>
  </div>
  }  
</div>


<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }" position="center" key="c" />