<div class="absolute w-full  bg-gradient-to-r from-blue-800 via-indigo-500 to-blue-400 dark:hidden min-h-75">
</div>
<app-sidebar ></app-sidebar>

<main class="relative  transition-all duration-200 ease-in-out xl:ml-68 rounded-xl flex flex-col ">
<app-header></app-header>

  <!-- cards -->
  <div class="w-full   px-6 py-6 mx-auto flex-grow  h-[92vh] mb-1">      
    @if(statusLogin()==4){
      <div class="flex  bg-slate-500  pt-14 rounded-5 justify-center h-full">        
        <div class="flex flex-col items-center">          
          <h1 class="text-4xl font-bold text-white">Usuario sin privilegios</h1>
        </div>        
      </div>
    }
    @if(statusLogin()==2){
      <router-outlet></router-outlet>         
    }
    @if(statusLogin()==1){
      <div class="flex  bg-slate-500  pt-14 rounded-5 justify-center h-full">        
        <div class="flex flex-col items-center">
          <svg class="animate-spin h-10 w-10 text-white mb-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
          </svg>
          <h1 class="text-4xl font-bold text-white">Iniciando sesión</h1>
        </div>
        
      </div>
    }

  </div>
  <!-- end cards -->
  <footer  class="hidden lg:block  w-full absolute bottom-0 -z-990">
    <div class="w-full px-6 mx-auto">
      <div class="flex flex-wrap items-center -mx-3 lg:justify-between">
        <div class="w-full max-w-full px-3 mt-0  shrink-0 lg:mb-0 lg:w-1/2 lg:flex-none">
          <div class="text-sm leading-normal text-center text-slate-500 lg:text-left">
            ©            
            {{ anio }}                          
            Litoprocess S.A. de C.V
          </div>
        </div>
        
      </div>
    </div>
  </footer>
</main>

